@using RecipeRightBlazor.Shared
<div>
    <label for="@($"quantity-{IngredientWithAmount.Id}")">Quantity</label>
    <InputNumber id="@($"quantity-{IngredientWithAmount.Id}")" @bind-Value="IngredientWithAmount.Quantity" />
</div>
<div>
    <label for="@($"unit-{IngredientWithAmount.Id}")">Unit</label>
    <InputText id="@($"unit-{IngredientWithAmount.Id}")" @bind-Value="IngredientWithAmount.Unit" />
</div>
<div>
    <label for="@($"ingredient-{IngredientWithAmount.Id}")">Ingredient</label>
    <InputSelect id="@($"ingredient-{IngredientWithAmount.Id}")" @bind-Value="IngredientWithAmount.Ingredient">
        <option value="">Choose ingredient...</option>
        @foreach (Ingredient ingredient in Ingredients)
        {
            <option value="@ingredient.Id">@ingredient.Name</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public IngredientWithAmount IngredientWithAmount { get; set; }

    [Parameter]
    public Ingredient[] Ingredients { get; set; }
}
